<a href="/dashboard"> &larr; Back to dashboard</a>
<div class="posts-wrapper">
    <div class="post-wrapper">
        <header class="post-header">
            Edit Post
        </header>
        <div class="post-body">
            <div class="form__update__delete">
                <div class="input-group">
                    <label for="edit-title">Title:</label>
                    <input id="edit-title" type="text" class="editing" name ="edit-title" placeholder="{{post.post_title}}"></input>
                </div>
                <div class="input-group">
                    <label for="edit-text">post_text:</label>
                    <textarea id="edit-text" class="editing" name ="edit-text" placeholder="{{post.post_text}}"></textarea>
                </div>
                <div class="preview-buttons">
                    <button class="update-post-btn standout" >Update Post</button>
                    <button class="delete-post-btn standout" >Delete</button>
                </div>
            </div>
        </div> 

    </div> 
</div> 

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
