<div class="posts-wrapper">
    <div class="post-wrapper">
        <header class="post-header">
            Create New Post
        </header>
        <div class="post-body">
            <form class="form-new-post">
                <div class="input-group">
                    <label for="new-title">Title:</label>
                    <input id="new-title" type="text" class="editing" name="new-title" placeholder="Enter title of your post" ></input>
                </div>
                <div class="input-group">
                    <label for="new-text">Description:</label>
                    <textarea id="new-text" class="editing" name="new-text" placeholder="Enter description for your post"></textarea>
                </div>
                <div class="preview-buttons">
                    <button class="create-post standout" type="submit">Create</button>
                </div>
            </form>
        </div> 

    </div> 
</div> 

<script src="/javascript/add-post.js"></script>