{{> post-info post}}

{{#if loggedIn}}
<div class="comment-add-wrapper">
    <div class="comment-header">&nbsp;</div>
    <form class="form-add-comment">
        <div class="comment-add-body">
            <div class="input-group">
                <label for="add-comment-input">Comment:</label>
                 <textarea id="add-comment-input" class="editing"></textarea>
            </div>
    
            <button class="add-comment standout" type="submit">Submit</button>
        </div>
    </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}