/* Reset CSS */
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Themes */
  :root {
    --brown: #231010;
    --darkgray: #666666;
    --lightgray: #a7a7a7;
    --lime: #d9ead3;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Mobile-first approach */
  @media (min-width: 992px) {
    main {
      width: 70% !important;
      margin-top: 20px;
    }
  }
  @media (min-width: 1200px) {
    main {
      width: 60% !important;
      margin-top: 40px;
    }
  }
  /* Layout */
  body {
    background-color: var(--lime);
  }
  
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  button.standout {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--darkgray);
    color: white;
    transition: background-color 500ms;
  }
  
  button.standout:hover {
    background-color: var(--lightgray);
  }
  
  /** Header **/
  .site-header {
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--brown);
  }
  .site-header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  .site-header nav ul {
    width: 100%;
    padding: 0;
    margin: 10px 0;
  }
  .site-header nav ul li:first-child {
    color: red;
  }
  .site-header nav ul li {
    display: inline-block;
    margin-right: 60px;
    text-align: center;
    list-style-type: none;
  }
  .site-header nav ul li a,
  .site-header nav ul li a:visited {
    color: var(--lime);
    text-decoration: none;
    transition: color 500ms;
  }
  .site-header nav ul li a:active,
  .site-header nav ul li a:hover {
    color: var(--lightgray);
  }
  .site-header .page-title {
    display: inline-block;
    padding: 5px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    color: var(--brown);
    background-color: var(--lime);
    font-weight: 800;
    box-shadow: 5px 5px var(--lightgray);
  }
  
  /** Login/Signup Form **/
  .form-wrapper {
    margin-top: 20px;
  }
  .form-wrapper .form-header {
    padding: 5px 10px;
    color: var(--lime);
    background-color: var(--brown);
    font-size: 1.25rem;
    font-weight: 600;
  }
  .form-wrapper .form-body {
    border: 2px solid var(--brown);
    padding: 5px 10px 20px 10px;
  }
  .form-wrapper .form-body input {
    width: 100%;
  }
  .form-wrapper .input-group {
    margin: 10px 0;
  }
  
  /* Dashboard */
  .dashboard-posts-wrapper .dashboard-post-wrapper {
    margin-top: 20px;
  }
  .dashboard-posts-wrapper .dashboard-post-wrapper .post-header {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--lime);
    background-color: var(--darkgray);
    font-size: 1rem;
    font-weight: 300;
  }
  .dashboard-posts-wrapper .dashboard-post-wrapper .post-header a,
  .dashboard-posts-wrapper .dashboard-post-wrapper .post-header a:visited {
    color: var(--lime);
  }
  .dashboard-posts-wrapper .dashboard-post-wrapper .post-header a:active,
  .dashboard-posts-wrapper .dashboard-post-wrapper .post-header a:hover {
    color: var(--brown);
  }
  .dashboard-posts-wrapper .dashboard-post-wrapper .post-header aside {
    float: right;
    font-weight: 300;
  }
  .dashboard-posts-wrapper .dashboard-post-wrapper .post-body {
    border: 2px solid var(--brown);
    padding: 5px 10px 5px 10px;
  }
  .dashboard-posts-wrapper .dashboard-post-wrapper .post-body input {
    width: 100%;
  }
  .dashboard-posts-wrapper .dashboard-btn-wrapper {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .dashboard-posts-wrapper .dashboard-btn-wrapper button {
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
    background-color: var(--brown);
    transition: color 500ms;
  }
  .dashboard-posts-wrapper .dashboard-btn-wrapper button:hover {
    color: var(--lightgray);
  }
  
  /* Homepage / View Post / Preview Post */
  .posts-wrapper .post-wrapper {
    margin-top: 20px;
  }
  .posts-wrapper .post-wrapper .editing {
    padding: 5px 10px;
    width: 100%;
    resize: none;
  }
  .posts-wrapper .post-wrapper .post-header,
  .posts-wrapper .post-wrapper .comment-header {
    padding: 5px 10px;
    color: var(--lime);
    background-color: var(--brown);
    font-size: 1.25rem;
    font-weight: 600;
  }
  .posts-wrapper .post-wrapper .post-header a,
  .posts-wrapper .post-wrapper .post-header a:visited,
  .posts-wrapper .post-wrapper .comment-header a,
  .posts-wrapper .post-wrapper .comment-header a:visited {
    color: var(--lime);
  }
  .posts-wrapper .post-wrapper .post-header a:active,
  .posts-wrapper .post-wrapper .post-header a:hover,
  .posts-wrapper .post-wrapper .comment-header a:active,
  .posts-wrapper .post-wrapper .comment-header a:hover {
    color: var(--darkgray);
  }
  .posts-wrapper .post-wrapper .post-header aside,
  .posts-wrapper .post-wrapper .comment-header aside {
    transform: translateY(50%);
    float: right;
    font-size: .75rem;
    font-weight: 200;
  }
  .posts-wrapper .post-wrapper .post-body,
  .posts-wrapper .post-wrapper .comment-body {
    border: 2px solid var(--brown);
    padding: 5px 10px 5px 10px;
  }
  .posts-wrapper .post-wrapper .post-body input,
  .posts-wrapper .post-wrapper .comment-body input {
    width: 100%;
  }
  .posts-wrapper .post-wrapper .comment__body__footer {
    padding: 30px;
    border: 2px solid var(--brown);
  }
  .posts-wrapper .post-wrapper .comment-add-body {
    padding: 10px;
    border: 2px solid var(--brown);
  }
  .posts-wrapper .post-wrapper .comment-wrapper,
  .posts-wrapper .post-wrapper .comment-add-wrapper {
    padding: 5px !important;
    margin-top: 15px;
  }
  .posts-wrapper .post-wrapper .comment-footer {
    margin-top: 1rem;
  }
  .posts-wrapper .post-wrapper .preview-buttons button {
    margin: 5px 0;
  }
  .posts-wrapper .post-wrapper .preview-buttons button:first-child {
    margin-top: 10px;
  }
  